.windows {
  margin: 5px 10px;
}
.outer {
  opacity: 0.9;
  width: 100%;
  margin: auto auto;
  padding: 10px;
  border-radius: 7px 7px 0px 0px;

  &.yosemite {
    background: var(--surface-ground);
    border: 1px solid var(--surface-border);
  }
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #f9f9f9;
  border-radius: 50%;
  margin: 0 5px 0 0;

  &.red {
    background: #ff6057;
    border: 1px solid #e14640;
  }

  &.amber {
    background: #ffbd2e;
    border: 1px solid #dfa123;
  }

  &.green {
    background: #27c93f;
    border: 1px solid #1dad2b;
  }
}

.content {
  height: 89vh;
  margin-top: -16px;
  padding: 20px 200px;
  background-color: var(--surface-section);
}
