<div class="windows {{ isFullScreen ? 'fullscreen' : '' }}">
  <div class="outer yosemite">
    <button
      class="dot red"
      (click)="buttonAction(CONSTANTS.ACTION_CLOSE)"
    ></button>
    <button
      class="dot amber"
      (click)="buttonAction(CONSTANTS.ACTION_MAXIMISE)"
    ></button>
    <button
      class="dot green"
      (click)="buttonAction(CONSTANTS.ACTION_MINIMISE)"
    ></button>
  </div>
  <div class="content">
    <div class="form-content">
      <div class="title-container">
        <h2 class="title">{{ title }}</h2>
      </div>
      <div class="form">
        <p-card styleClass="card-content">
          <ng-content select="[content]"></ng-content>
          <ng-template pTemplate="footer" *ngIf="showActions">
            <form [formGroup]="customFormGroup" (ngSubmit)="clickAction()">
              <div class="actions">
                <button
                  pButton
                  pRipple
                  type="button"
                  label="Cancelar"
                  class="p-button-text"
                ></button>
                <div
                  pTooltip="{{
                    customFormGroup.invalid
                      ? 'No has completado la información requerida'
                      : 'Guardar información'
                  }}"
                  tooltipPosition="top"
                  [showDelay]="600"
                  [hideDelay]="300"
                >
                  <button
                    pButton
                    pRipple
                    type="submit"
                    [disabled]="
                      validateForm ? customFormGroup.invalid : validateForm
                    "
                    label="Guardar"
                  ></button>
                </div>
              </div>
            </form>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</div>
