.windows {
  margin: 5px 10px;
  .actions {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    padding: 10px 0;
    width: 100%;
    button {
      margin: auto 5px;
    }
  }
}
.outer {
  opacity: 0.9;
  width: 100%;
  margin: auto auto;
  padding: 10px;
  border-radius: 7px 7px 0px 0px;

  &.yosemite {
    background: var(--surface-d);
    border: 1px solid var(--surface-border);
  }
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #f9f9f9;
  border-radius: 50%;
  margin: 0 5px 0 0;
  z-index: 1;

  &.red {
    background: #ff6057;
    border: 1px solid #e14640;
  }

  &.amber {
    background: #ffbd2e;
    border: 1px solid #dfa123;
  }

  &.green {
    background: #27c93f;
    border: 1px solid #1dad2b;
  }
}

.content {
  height: fit-content;
  margin-bottom: 60px;
  padding: 20px 20%;
  display: flex;
  justify-content: center;
  background-color: var(--surface-section);
  .form-content {
    width: 100%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .content {
    padding: 20px 200px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .content {
    padding: 10px 10px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .content {
    padding: 10px 10px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .content {
    padding: 10px 10px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .content {
    padding: 10px 10px;
  }
}

::ng-deep .card-content {
  .p-card-body {
    padding: 1rem 1.5rem;
  }
}

.fullscreen {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 0;
  z-index: 1;
  .content {
    height: 95vh;
  }
  .yosemite {
    background: var(--surface-d);
    opacity: 1;
    position: relative;
  }
}
