<div class="windows {{ isFullScreen ? 'fullscreen' : ''}}">
  <div class="outer yosemite">
    <button class="dot red" (click)="buttonAction(CONSTANTS.ACTION_CLOSE)"></button>
    <button class="dot amber" (click)="buttonAction(CONSTANTS.ACTION_MAXIMISE)"></button>
    <button class="dot green" (click)="buttonAction(CONSTANTS.ACTION_MINIMISE)"></button>
  </div>
  <div class="content">
    <div class="form-content">
      <div class="title-container">
        <h2 class="title">{{ title }}</h2>
      </div>
      <div class="form">
        <p-card styleClass="card-content">
          <ng-content select="[content]"></ng-content>
          <ng-template pTemplate="footer" *ngIf="showActions">
            <div class="actions">
              <button
                pButton
                pRipple
                type="button"
                label="Cancelar"
                class="p-button-text"
              ></button>
              <button pButton pRipple type="button" label="Guardar"></button>
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</div>
