.custom-dropdown {
  margin-bottom: 25px;
  height: 100%;
  .field {
    height: fit-content;
    width: 364px;
    left: 0px;
    top: 0px;
    .required {
      color: var(--primary-color);
    }
  }
}

:host ::ng-deep .input{
    width: 100%;
    min-height: 40px;
}
