.custom-dropdown {
  margin-bottom: 3.5rem;
  .field {
    height: 77px;
    width: 364px;
    left: 0px;
    top: 0px;
    .required {
      color: var(--primary-color);
    }
  }
}

:host ::ng-deep .input{
    width: 100%;
}
