<window-template
  [title]="title"
  [showActions]="true"
  [customFormGroup]="viewFormGroup"
  [validateForm]="true"
  (actionPrimaryEvent)="saveEvent($event)"
>
<div class="create-catalog" content>
    <div>
      <input-text-form
        label="Codigo del proyecto de investigación "
        hint="Ingresa por favor el código del proyecto de investigación"
        [pattern]="GENERAL_CONSTANTS.REGEX_TEXT_LATAM"
        [maxLength]="GENERAL_CONSTANTS.MAX_LENGTH_NAME"
        [minLength]="1"
        [customFormGroup]="viewFormGroup"
        [isRequired]="true"
        [disabled]="isEdit"
        [(model)]="proyectoInvestigacion.codigo"
        type="number"
      ></input-text-form>

      <input-text-form
        label="Nombre del proyecto de investigación"
        hint="Ingresa por favor el nombre del proyecto de investigación"
        [pattern]="GENERAL_CONSTANTS.REGEX_TEXT_LATAM"
        [maxLength]="GENERAL_CONSTANTS.MAX_LENGTH_NAME"
        [minLength]="GENERAL_CONSTANTS.MIN_LENGTH_NAME"
        [customFormGroup]="viewFormGroup"
        [(model)]="proyectoInvestigacion.nombre"
        
        [isRequired]="true"
      ></input-text-form>

      <custom-dropdown
        methodGetData="findAllGrupo"
        label="Selecciona el grupo de investigación"
        hint="Selecciona el grupo de investigación al cual pertenece el proyecto"
        placeholder="Grupo"
        [isRequired]="true"
        [customFormGroup]="viewFormGroup"
        [service]="grupoInvestigacionManager"
        [(model)]="proyectoInvestigacion.grupoInvestigacion"
        [keysToShow]="['codigoGrupoInvestigacion','nombreGrupoInvestigacion']"
      >
      </custom-dropdown>

      <input-text-form
        label="Presupuesto asignado"
        hint="Ingresa por favor el resupuesto asignado al proyecto de investigación"
        [pattern]="GENERAL_CONSTANTS.REGEX_TEXT_LATAM"
        [maxLength]="GENERAL_CONSTANTS.MAX_LENGTH_NAME"
        [minLength]="1"
        [customFormGroup]="viewFormGroup"
        [isRequired]="true"
        [disabled]="isEdit"
        [(model)]="proyectoInvestigacion.presupuesto"
        type="number"
      ></input-text-form>

      <custom-datepicker
        label="Fecha de inicio"
        hint="Ingresa la fecha de inicio del proyecto de investigación"
        [customFormGroup]="viewFormGroup"
        [isRequired]="true"
        [(model)]="proyectoInvestigacion.fechaInicio"
      ></custom-datepicker>

      <custom-datepicker
        label="Fecha de terminación"
        hint="Ingresa la fecha de terminación del proyecto de investigación"
        [customFormGroup]="viewFormGroup"
        [isRequired]="true"
        [(model)]="proyectoInvestigacion.fechaTerminacion"
      ></custom-datepicker>
    </div>
  </div>
</window-template>



