.report-project-professor {
  width: 100%;
}
.report {
  display: flex;
  .pie {
    margin: auto;
  }
}

.report-projects-active-inactives {
  width: 100%;
  .row {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    .header {
      color: var(--primary-color);
    }
    .inactive {
      color: var(--pink-600);
    }
    .active {
      color: var(--green-500);
    }
  }
}
