<window-template [title]="title">
  <div class="reports" content>
    <p-tabView (onChange)="setReport($event)">
      <p-tabPanel header="Proyectos por Profesor">
        <div class="report-project-professor">
          <div class="filters">
            <custom-dropdown
              methodGetData="findAllProfessor"
              label="Profesor participante"
              hint="Seleccione el profesor participante en los proyectos de investigación"
              placeholder="Profesor"
              [service]="profesorManager"
              [(model)]="profesorDto"
              (modelChange)="getReportProjectByProfessor()"
              [keysToShow]="['cedulaProfesor', 'nombreProfesor']"
            >
            </custom-dropdown>
          </div>
          <div class="report" *ngIf="data">
            <p-chart class="pie" type="pie" [data]="data"></p-chart>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Proyectos activos y terminados">
        <div class="report-projects-active-inactives">
          <div class="row">
            <div class="header item"><span>Nombre y código del proyecto</span></div>
            <div class="header item"><span>Estado del proyecto</span></div>
          </div>
          <div class="row" *ngFor="let data of data2">
            <div>{{data.nombreproyecto}}{{data.codigoproyecto}}</div>
            <div class="item {{data.estado === 'Activo' ? 'active' : 'inactive'}}">{{data.estado}}</div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Profesores por grupo de investigación">
        Content 3
      </p-tabPanel>
      <p-tabPanel header="Presupuesto por facultad"> Content 4 </p-tabPanel>
    </p-tabView>
  </div>
</window-template>
