<form [formGroup]="customFormGroup">
  <div class="input-text {{ addMarginBottom ? 'margin-bottom' : '' }}">
    <div class="field">
      <label for="{{ controlName }}" class="block" *ngIf="label"
        >{{ label }}<i class="required" *ngIf="isRequired"> *</i></label
      >
      <span class="input {{ rightIcon ? 'p-input-icon-right' : '' }}">
        <i
          *ngIf="rightIcon"
          class="{{ rightIcon }} rigth-icon"
          pTooltip="{{ rightIconTooltip }}"
          (click)="rightIconEmit()"
          tooltipPosition="top"
        ></i>
        <input
          id="{{ controlName }}"
          type="{{ type || 'text' }}"
          class="input"
          [ngClass]="{
            'ng-invalid ng-dirty':
              !customFormGroup.controls[controlName].valid &&
              customFormGroup.controls[controlName].touched
          }"
          [attr.aria-describedby]="controlName + '-help'"
          formControlName="{{ controlName }}"
          [required]="isRequired"
          [ngModel]="model"
          (ngModelChange)="modelHasBeenChanged($event)"
          (focusout)="focusOutEmit()"
          [placeholder]="placeHolder"
          pInputText
        />
      </span>

      <ng-container
        *ngTemplateOutlet="
          !customFormGroup.controls[controlName].valid &&
          customFormGroup.controls[controlName]?.touched
            ? errorHintTemplate
            : hintTemplate
        "
      ></ng-container>
    </div>
  </div>
</form>

<ng-template #hintTemplate>
  <small id="{{ controlName }}-help" class="block" *ngIf="hint">{{ hint }}</small>
</ng-template>

<ng-template #errorHintTemplate>
  <small id="{{ controlName }}-help" class="p-error block" *ngIf="hint">{{
    getErrorMessage
  }}</small>
</ng-template>
