<window-template
  [title]="title"
  [showActions]="true"
  [validateForm]="true"
>
  <div class="create-catalog" content>
    <div>
      <input-text-form
        label="Nombre del profesor:"
        hint="Ingresa por favor el nombre del profesor"
        [isRequired]="true"
      ></input-text-form>

      <input-text-form
        label="Nombre del profesor:"
        hint="Ingresa por favor el nombre del profesor"
        [isRequired]="true"
      ></input-text-form>

    </div>
  </div>
</window-template>
