<window-template
  [title]="title"
  [showActions]="true"
  [customFormGroup]="viewFormGroup"
  [validateForm]="true"
  (actionPrimaryEvent)="saveEvent($event)"
>
  <div class="create-catalog" content>
    <div [formGroup]="viewFormGroup">
      <input-text-form
        label="Nombre del área de interes"
        hint="Ingresa por favor el nombre del área de interes"
        [customFormGroup]="viewFormGroup"
        [isRequired]="true"
        [pattern]="GENERAL_CONSTANTS.REGEX_TEXT_LATAM"
        [maxLength]="GENERAL_CONSTANTS.MAX_LENGTH_NAME"
        [minLength]="GENERAL_CONSTANTS.MIN_LENGTH_NAME"
      ></input-text-form>
    </div>
  </div>
</window-template>
