<window-template [title]="title" [showActions]="true" [validateForm]="true">
    <div class="create-catalog" content>
        <div>
            <input-text-form 
            label="Nombre del grupo de investigación: " 
            hint="Ingresa por favor el nombre del profesor"
            [isRequired]="true"
                ></input-text-form>

            <custom-dropdown 
            methodGetData="findAllSedes" 
            label="Selecciona la facultad"
            hint="Selecciona la facultad a la cual pertenece la facultad" placeholder="Facultad"
            [isRequired]="true">
            </custom-dropdown>


          <custom-dropdown 
          methodGetData="findAllSedes" 
          label="Area de interes del grupo de investigación: "
          hint="Ingrese el area de interes" placeholder="Area de interes"
          [isRequired]="true">
          </custom-dropdown>

       


        </div>
    </div>
</window-template>