
<div class="content-section implementation dock-demo">
    <p-menubar [model]="(menubarItems | async) || []" styleClass="menu-bar">
        <ng-template pTemplate="start">
            <img class="logo" src="/assets/images/colombia.png">
        </ng-template>
        <ng-template pTemplate="end">
            <span>{{ time | date: 'medium' }}</span>
        </ng-template>
    </p-menubar>
    <div class="dock-window dock-advanced">
        <p-dock [model]="(dockItems | async) || []" position="bottom">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.icon" [alt]="item.label" width="100%">
            </ng-template>
        </p-dock>
    </div>
</div>

