<div class="custom-table">
  <p-table
    [value]="data"
    [lazy]="true"
    (onLazyLoad)="loadData($event)"
    responsiveLayout="scroll"
    dataKey="id"
    [selection]="dataSelected"
    (selectionChange)="onSelectionChange($event)"
    [paginator]="true"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [loading]="loading"
    #customDataTable
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem" *ngIf="configuration?.showSelectCheck">
          {{ "" }}
        </th>
        <th *ngFor="let header of configuration?.headers">
          {{ header.label }}
        </th>
        <th style="width: 120px" *ngIf="configuration?.showActions">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dataItem>
      <tr>
        <td *ngIf="configuration?.showSelectCheck">
          <p-tableCheckbox [value]="dataItem"></p-tableCheckbox>
        </td>
        <td *ngFor="let configItem of configuration?.dataConfig">
          {{ configItem.key ? printDataByKey(configItem.key, dataItem) : "" }}
        </td>
        <td *ngIf="configuration?.showActions">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-text"
            (click)="tableEditEvent(dataItem)"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger p-button-text p-button-plain"
            (click)="deleteEvent(dataItem)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
